@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.great-vibes-font {
    font-family: "Macondo", serif;
    font-weight: 400;
    font-style: normal;
}
